body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.planet {
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

p,
li {
  color: #666;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.image {
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.back {
  width: 60%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: -15px;
  font-size: 1.3em;
  color: #666;
}
.back a {
  color: #666;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px auto;
  width: 70%;
}

.card {
  width: 60%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 10px;
  padding: 20px;
}

.table {
  width: 20%;
  margin: 0 10px;
  padding: 20px;
}

.thead {
  text-align: center;
  color: white;
  font-size: 1.3em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
}
